# Dependencies
node_modules/
.pnp/
.pnp.js

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
env/
indian_kanoon_cache/

# Testing
coverage/

# Production
build/
dist/
.next/
out/
.vercel/

# Misc & OS
.DS_Store
.env
.env*
!.env.example
*.log
*start_log.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
 