fastapi
uvicorn[standard]
pydantic
python-dotenv
google-generativeai
groq
httpx
slowapi
python-jose[cryptography]
bcrypt
cryptography
datasets
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-huggingface
huggingface_hub
pandas
numpy